Repository brain-bush/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm stylelint:fix, pnpm format

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": ["pnpm lint:fix"],
  "*.{scss,css}": ["pnpm stylelint:fix"],
  "*.{json,html}": ["pnpm format"]
}

ci(workflows): setup pull request checks
  .github/workflows/pr-checks.yaml
Due: none

build(storybook): setup storybook
  .gitignore
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
Due: pnpm lint:fix, pnpm format

ci(workflows): edit step with setup pnpm
  .github/workflows/pr-checks.yaml
  pnpm-lock.yaml
  tsconfig.json
Due: pnpm format

ci(workflows): delete 20.16.0 version of node from pr checks
  .github/workflows/pr-checks.yaml
  package.json
Due: pnpm format

build(docker): setup docker and makefile
  .dockerignore
  .env
  Dockerfile
  Makefile
  docker-compose.yml
  package.json
Due: pnpm format

build(tunnel): add tunnel
  package.json
Due: pnpm format

build(eslint): setup eslint
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: pnpm format

build(next): move app and pages folders from src to root
  app/layout.tsx
  app/page.tsx
  next.config.ts
  pages/.gitkeep
Due: pnpm lint:fix

build(fsd): add 6 fsd layers folders
  src/app/.gitkeep
  src/entities/.gitkeep
  src/features/.gitkeep
  src/pages/.gitkeep
  src/shared/.gitkeep
  src/widgets/.gitkeep
Due: none

fix(next): delete pages folder in root
  pages/.gitkeep
Due: none

fix(jsx): fix eslint errors
  app/layout.tsx
  app/page.tsx
Due: pnpm lint:fix

build(eslint): change eslint rules
  app/layout.tsx
  eslint.config.mjs
Due: pnpm lint:fix

fix(next): delete unused next.js configuration
  next.config.ts
Due: pnpm lint:fix

build(scripts): add prepare script for husky init
  .prettierrc
  Dockerfile
  app/page.tsx
  package.json
  pnpm-lock.yaml
Due: pnpm lint:fix, pnpm format

build(analyzer): setup bundle analyzer
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: pnpm lint:fix, pnpm format

build(dependencies): add rtk and field formatting dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm format

build(dependencies): add dependencies for working with form and styling components
  app/layout.tsx
  app/page.tsx
  package.json
  pnpm-lock.yaml
Due: pnpm lint:fix, pnpm format

build(prettier): add bracketSpacing rule to prettier
  .prettierrc
Due: none

build(packages): add packages for forms
  pnpm-lock.yaml
Due: none

build(ant-design): add icon ant design package
  pnpm-lock.yaml
Due: none

build(redux): configure redux for nextjs and add provider for it
  app/layout.tsx
  eslint.config.mjs
  src/app/.gitkeep
  src/app/model/index.ts
  src/app/model/store.ts
  src/app/providers/global.tsx
  src/app/providers/index.ts
  src/app/providers/redux.tsx
  src/app/types/index.ts
  src/app/types/redux.ts
  src/global.d.ts
  src/shared/.gitkeep
  src/shared/hooks/index.ts
  src/shared/hooks/redux.ts
  src/shared/types/defaultProps.ts
  src/shared/types/htmlProps.ts
  src/shared/types/index.ts
Due: pnpm lint:fix

feat(auth): add base query for api and add auth environment
  .env.development
  .env.production
  environment.d.ts
  src/entities/.gitkeep
  src/shared/api/baseQuery.ts
  src/shared/api/constants.ts
  src/shared/api/index.ts
  src/shared/constants/index.ts
  src/shared/constants/server.ts
  src/shared/lib/index.ts
  src/shared/lib/joinPaths.ts
  src/shared/types/defaultState.ts
  src/shared/types/index.ts
  src/shared/types/joinStrings.ts
  src/shared/types/thunk.ts
Due: pnpm lint:fix

build(ant-design): add ant design + react 19 support package
  pnpm-lock.yaml
Due: none

build(ant-design): add previos changes to package-lock
  package.json
Due: pnpm format

build(ant-design): add ant-design icons package
  package.json
  pnpm-lock.yaml
Due: pnpm format

feat(auth): add redux slice and endpoints for login, logout and refresh
  src/app/model/store.ts
  src/entities/auth/api/api.ts
  src/entities/auth/api/baseQuery.ts
  src/entities/auth/api/constants.ts
  src/entities/auth/api/index.ts
  src/entities/auth/index.ts
  src/entities/auth/model/constants.ts
  src/entities/auth/model/index.ts
  src/entities/auth/model/initialState.ts
  src/entities/auth/model/slice.ts
  src/entities/auth/model/thunks/index.ts
  src/entities/auth/model/thunks/login.ts
  src/entities/auth/model/thunks/logout.ts
  src/entities/auth/model/thunks/refresh.ts
  src/entities/auth/types/authUser.ts
  src/entities/auth/types/index.ts
  src/entities/auth/types/requests.ts
  src/entities/auth/types/responses.ts
  src/entities/auth/types/state.ts
  src/entities/user/index.ts
  src/entities/user/types/index.ts
  src/entities/user/types/user.ts
  src/shared/api/index.ts
  src/shared/api/lib/createApiRequest.ts
  src/shared/api/lib/index.ts
  src/shared/lib/index.ts
  src/shared/model/hooks/index.ts
  src/shared/model/hooks/redux.ts
  src/shared/model/index.ts
  src/shared/model/lib/index.ts
  src/shared/model/lib/thunkStatus.ts
  src/shared/model/types/defaultState.ts
  src/shared/model/types/index.ts
  src/shared/model/types/thunk.ts
  src/shared/types/index.ts
Due: pnpm lint:fix

feat(auth): add protected and auth providers, oauth hooks and router for auth pipeline
  app/(auth)/login/page.tsx
  app/(auth)/ya-oauth-help/page.tsx
  app/(home)/layout.tsx
  app/(home)/page.tsx
  app/page.tsx
  src/app/providers/auth.tsx
  src/app/providers/global.tsx
  src/app/providers/index.ts
  src/app/providers/protected.tsx
  src/entities/auth/constants/index.ts
  src/entities/auth/constants/oauth.ts
  src/entities/auth/hooks/index.ts
  src/entities/auth/hooks/useOauthLogin.ts
  src/entities/auth/hooks/useYaOauthToken.ts
  src/entities/auth/index.ts
  src/global.d.ts
  src/shared/constants/index.ts
  src/shared/constants/router.ts
  src/shared/model/hooks/redux.ts
  src/shared/model/lib/thunkStatus.ts
Due: pnpm lint:fix

feat(auth): add api routes and auth redirect if user logged in
  .env.development
  .env.production
  app/(auth)/layout.tsx
  app/(home)/page.tsx
  app/api/v1/auth/login/route.ts
  app/api/v1/auth/logout/route.ts
  app/api/v1/auth/refresh/route.ts
  app/layout.tsx
  package.json
  pnpm-lock.yaml
  src/app/providers/auth.tsx
  src/app/providers/authRedirect.tsx
  src/app/providers/index.ts
  src/entities/auth/api/api.ts
  src/entities/auth/index.ts
  src/entities/auth/model/initialState.ts
  src/entities/auth/types/index.ts
  src/entities/auth/types/state.ts
Due: pnpm lint:fix, pnpm format

feat(auth): add auth login page layout
  app/(auth)/layout.module.scss
  app/(auth)/layout.tsx
  app/(auth)/login/page.tsx
  app/layout.tsx
  package.json
  pnpm-lock.yaml
  src/app/assets/fonts/Inter/Inter-Bold.woff
  src/app/assets/fonts/Inter/Inter-Medium.woff
  src/app/assets/fonts/Inter/Inter-Regular.woff
  src/app/assets/styles/fonts.scss
  src/app/assets/styles/global.scss
  src/app/assets/styles/index.scss
  src/app/assets/styles/variables.scss
  src/app/providers/ant.tsx
  src/app/providers/global.tsx
  src/app/providers/index.ts
  src/views/login/index.ts
  src/views/login/login.tsx
  src/views/login/ui/footer/loginFooter.module.scss
  src/views/login/ui/footer/loginFooter.tsx
  src/views/login/ui/header/loginHeader.module.scss
  src/views/login/ui/header/loginHeader.tsx
  src/views/login/ui/index.ts
  src/views/register/.gitkeep
  src/widgets/authForm/authForm.module.scss
  src/widgets/authForm/authForm.tsx
  src/widgets/authForm/index.ts
Due: pnpm lint:fix, pnpm stylelint:fix, pnpm format

docs(readme): add readme with technologies, scripts and general description
  README.md
Due: none

build(prettierignore): add package-lock files to prettierignore
  .prettierignore
Due: none

build(prettierignore): add pnpm-lock.yaml to prettierignore
  .prettierignore
Due: none

refactor(auth): move code from /app to /src, add fonts with nextjs api, other small changes
  README.md
  app/(auth)/layout.tsx
  app/(home)/layout.tsx
  app/layout.tsx
  src/app/assets/fonts/Inter/Inter-Bold.woff
  src/app/assets/fonts/Inter/Inter-Medium.woff
  src/app/assets/fonts/Inter/Inter-Regular.woff
  src/app/assets/styles/fonts.scss
  src/app/assets/styles/global.scss
  src/app/providers/fonts.tsx
  src/app/providers/global.tsx
  src/app/styles/global.scss
  src/app/styles/index.scss
  src/app/styles/variables.scss
  src/shared/ui/authLayout/authLayout.module.scss
  src/shared/ui/authLayout/authLayout.tsx
  src/shared/ui/index.ts
  src/views/login/login.tsx
  src/views/login/ui/footer/loginFooter.tsx
  src/views/login/ui/header/loginHeader.tsx
  src/widgets/authForm/authForm.tsx
Due: pnpm lint:fix, pnpm stylelint:fix

refactor(fsd): put index.ts in shared/authLayout
  src/shared/ui/authLayout/index.ts
  src/shared/ui/index.ts
Due: pnpm lint:fix

fix(fsd): fix import of authLayout to root layout
  app/(auth)/layout.tsx
Due: pnpm lint:fix

refactor(types): add LayoutProps type
  app/(auth)/layout.tsx
  app/(home)/layout.tsx
  app/layout.tsx
  src/shared/types/index.ts
  src/shared/types/layoutProps.ts
Due: pnpm lint:fix

refactor(fsd): put scss variables and mixins to shared layer
  src/app/styles/index.scss
  src/app/styles/variables.scss
  src/shared/styles/_mixins.scss
  src/shared/styles/_variables.scss
  src/shared/styles/index.scss
Due: pnpm stylelint:fix

refactor(auth): decompose AuthForm and LoginFooter
  app/(auth)/layout.tsx
  src/entities/auth/index.ts
  src/entities/auth/ui/authFormButtons/authFormButtons.module.scss
  src/entities/auth/ui/authFormButtons/authFormButtons.providers.tsx
  src/entities/auth/ui/authFormButtons/authFormButtons.tsx
  src/entities/auth/ui/authFormButtons/index.ts
  src/entities/auth/ui/authFormFields/authFormFields.module.scss
  src/entities/auth/ui/authFormFields/authFormFields.providers.tsx
  src/entities/auth/ui/authFormFields/authFormFields.tsx
  src/entities/auth/ui/authFormFields/index.ts
  src/entities/auth/ui/index.ts
  src/shared/ui/antdLink/antdLink.providers.tsx
  src/shared/ui/antdLink/antdLink.tsx
  src/shared/ui/antdLink/antdLink.types.ts
  src/shared/ui/antdLink/index.ts
  src/shared/ui/index.ts
  src/shared/ui/policyAgreement/index.ts
  src/shared/ui/policyAgreement/policyAgreement.constants.ts
  src/shared/ui/policyAgreement/policyAgreement.module.scss
  src/shared/ui/policyAgreement/policyAgreement.tsx
  src/shared/ui/policyAgreement/policyAgreement.types.ts
  src/views/login/ui/footer/loginFooter.module.scss
  src/views/login/ui/footer/loginFooter.tsx
  src/views/login/ui/header/loginHeader.tsx
  src/views/register/.gitkeep
  src/widgets/.gitkeep
  src/widgets/authForm/authForm.tsx
Due: pnpm lint:fix, pnpm stylelint:fix

refactor(auth): put props of ui components to separate files (...types.ts)
  src/shared/ui/antdLink/antdLink.providers.tsx
  src/shared/ui/antdLink/antdLink.types.ts
  src/shared/ui/authLayout/authLayout.tsx
  src/shared/ui/authLayout/authLayout.types.ts
Due: pnpm lint:fix

refactor(antd provider): rename AntProvider to AntdProvider
  src/app/providers/antd.tsx
  src/app/providers/global.tsx
  src/app/providers/index.ts
Due: pnpm lint:fix
